*{
	font-family: 'Oswald', sans-serif;
}


h1{
	text-align: center;
	font-size: 50px;
	font-weight: light;
}

.sun{
	/*font-family: 'Shrikhand', cursive;*/
	font-weight: bold;
}

footer{
	margin-top: 100px;
}


/*           F O R M     S T Y L I N G           */

#pac-input{
	font-size: 40px;
}

#autocomplete {
  width: 100%;
}




/*           S U N R I S E      &      S U N S E T      S T Y L I N G           */ 


.js-sunrise-conatiner,
.js-sunset-conatiner{
	border: solid 2px grey;
}


.js-sunrise-img,
.js-sunset-img{
	width: 75px;
	height:75px;
}




/*TRAILS STYLING*/
.js-trail{
	border: 2px solid grey;
}





/*           M A P     S T Y L I N G           
#map{
    height: 400px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 30px;
}

*/ 



/*           W E A T H E R     S T Y L I N G           */

/*  HOURLY FORECAST  */

.js-forecast-container{
	max-height: 355px;
    overflow-y: scroll;
}

.js-12hourforecast{
 	border: 2px solid grey;
}

